.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# IntelliJ
*.iml
.idea/caches/
.idea/dictionaries/
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/
.idea/modules/
.idea/shelf/
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
