.gradle/
.idea/
.app/release/
.gradle/6.8/executionHistory/executionHistory.bin
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/fileHashes/fileHashes.bin
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/fileHashes/resourceHashesCache.bin
.gradle/6.8/javaCompile/classAnalysis.bin
.gradle/6.8/javaCompile/javaCompile.lock
.gradle/6.8/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
app/release/app-release.apk
app/release/output-metadata.json
app/release/output.json
java_pid31464.hprof
